input[type="text"] {
   width: 500px;
   height: 20px;
   padding: 10px;
   border: none;
   border-radius: 3px;
   outline: none;
   background-color: #f7f7f7;
}

nav{
    position: relative;
    z-index: 999;
    margin-left: 20rem;
}

.icons{
    display: flex;
    gap: 40px;
}