.recomended{
    margin-top: 20px;
    margin-left: 20rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;

}

.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

button{
    padding: 7px 20px;
    cursor: pointer;
}